@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'), 
  url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'), 
  url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), 
  url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2'), 
  url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  unicode-range: U+0020-2212;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: black;
  position: relative;
  min-width:1200px;
}

a {
  text-decoration: none;
  color: black;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo h1,
.logo h2 {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  margin: 10px 0;
}

.logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

.logo:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  padding: 6px 60px 20px;
  position: relative;
  background-color: #F9E592;
  -webkit-box-shadow:inset 0px 40px white;
          box-shadow:inset 0px 40px white;
}

.navigation {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: black;
  letter-spacing: 0.15px;
  width: 100%;
  padding: 0px 0 1px;
}

.search {
  width: 42.4%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search:before {
  position: absolute;
  width: 16px;
  height: 16px;
  content: "";
  left: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/search.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation__container {
  width: 48%;
  padding-top: 9px;
}

.search__input {
  color: black;
  border: 0;
  background-color: transparent;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  padding: 0 0 0 38px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 49px;
  border-bottom: 2px solid transparent;
}

.search__button {
  border: 2px solid black;
  height: 49px;
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 30px;
  color: black;
  background-color: transparent;
  outline: none;
  min-width: 85px;
  display: none;
  cursor: pointer;
}
.search__input:focus, 
.search__input:valid {
  border-bottom-color:black;
  outline: none;
}

.search__input:focus+.search__button {
  display: block;
}

.search__input:valid+.search__button {
  display: block;
}

.search__input::-webkit-input-placeholder,
.search__input::-moz-placeholder,
.search__input:-ms-input-placeholder,
.search__input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input:hover::-webkit-input-placeholder,
.search__input:hover::-moz-placeholder,
.search__input:hover:-ms-input-placeholder,
.search__input:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu,
.products-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.products-menu__item a{
  padding-left: 23px;
  margin-left: 40px;
  position: relative;
}

.products-menu__item a:before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
}

.products-menu__item--compare a:before {
  background-image: url(../img/compare.svg);
  width: 10px;
  height: 10px;
  left: 3px;
}

.products-menu__item--cart a:before {
  background-image: url(../img/cart.svg);
  width: 12px;
  height: 12px;
}

.user-menu__login a{
  padding-left: 25px;
  margin-right: 40px;
  position: relative;
}

.navigation__account a{
  padding-left: 25px;
  margin-right: 20px;
  position: relative;
}

.user-menu__login a:before,
.navigation__account a:before {
  position: absolute;
  left: -1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  background-image: url(../img/user.svg);
  width: 13px;
  height: 12px;
}

.main-nav {
  font-size: 18px;
  line-height: 24px;
  padding: 29px 0;
}

.main-nav__title,
.about__item {
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-nav__title {
  position: relative;
  padding-right: 27px
}

.main-nav__title::after {
  position: absolute;
  right: 0;
  top: 47%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-nav__catalog {
  width: 40%;
  position: relative;
}

.about {
  width: 48%;
}

.about,
.site-menu__column {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about__item--contacts {
  margin-left: 71px;
}

.site-menu {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  position: absolute;
  left: -60px;
  right: -60px;
  top: 100%;
  width: 100vw;
  max-width: 1160px;
  background-color: #F9E592;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 60px 33px;
  display: none;
}

.site-menu__column {
  padding-right: 60px;
  min-width: 200px;
}

.main-nav__catalog:hover .site-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 200;
}

.main {
  position: relative;
  z-index: 10;
}

.slider {
  position: relative;
  box-shadow: inset 0px 113px 0 #F9E592;
}

.slider input[type=radio] {
  display: none;
}

.slider__inner {
  overflow: hidden;
}

.slider__items {
  width: 300%;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  counter-reset: slide 0;
}

.slider__slide {
  padding: 0 50px 0 60px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1160px;
}

.slider__slide:after {
  position: absolute;
  font-size: 179px;
  line-height: 179px;
  color: white;
  position: absolute;
  right: 48px;
  top: -10px;
  counter-increment: slide;
  content: "0" counter(slide);
}

.slider__column {
  width: 48.5%;
  position: relative;
}

.slider__column--image {
  width: 42.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -44px;
}

.slider__column--content {
  padding-right: 10px;
  padding-top: 60px;
}

.slider__title {
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
  margin: 21px 0 19px;
  padding-left: 4px;
  position: relative;
  z-index: 50;
}

.slider__title:before {
  position: absolute;
  left: 4px;
  top: -42px;
  width: 100px;
  height: 7px;
  background-color: white;
  content: "";
}

.slider__caption {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
  margin: 10px 0 51px;
  padding-left: 4px;
}

.slider__qualities {
  margin: 54px 0;
  width: 100%;
}

.slider__qualities tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-right: 75px;
}

.slider__quality:last-child {
  margin-right: 0;
}

.slider__description {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
  padding-top: 7px;
  display: inline-block;
  vertical-align: top;
}

.slider__quantity {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  display: inline-block;
  vertical-align: top;
}

.slider__controls {
  position: absolute;
  bottom: 191px;
  right: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  z-index: 100;
}

.slider__control {
  border-radius: 50%;
  border: 1px solid #000000;
  width: 12px;
  height: 12px;
  padding: 0;
  position: relative;
  display: block;
  margin-left: 21px;
  cursor: pointer;
}

.slider__control:before {
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  border: 1px solid #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  opacity: 0;
}

#btn-1:checked~.slider__controls .slider__control[for="btn-1"]:before,
#btn-2:checked~.slider__controls .slider__control[for="btn-2"]:before,
#btn-3:checked~.slider__controls .slider__control[for="btn-3"]:before {
  opacity: 1;
}

#btn-1:checked~.slider__inner .slider__items {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

#btn-2:checked~.slider__inner .slider__items {
  -webkit-transform: translate(-1160px);
      -ms-transform: translate(-1160px);
          transform: translate(-1160px);
}

#btn-3:checked~.slider__inner .slider__items {
  -webkit-transform: translate(-2320px);
      -ms-transform: translate(-2320px);
          transform: translate(-2320px);
}

.link {
  font-size: 18px;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
  padding: 0 45px;
  letter-spacing: 3.5px;
  cursor: pointer;
  border: 0;
  background: transparent;
  text-align: center;
}

.link:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 100%;
  height: 8px;
  background-color: #F0C52E;
  content: "";
  z-index: 20;
  -webkit-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
}

.link span {
  position: relative;
  z-index: 30;
}

.link:hover {
  color: black;
  opacity: 1;
}

.link:active {
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.link:hover:before {
  height: 40px;
}

.popular {
  padding: 30px 0;
}

.popular__items {
  list-style: none;
  padding-left: 0;
  margin: 27px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popular__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 160px;
}

.popular__item:before {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.popular__item:after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  right: 0;
}

.popular__item--vr:after {
  background-image: url(../img/vr.svg);
  background-size: 97px 55px;
  background-position: center;
}

.popular__item--selfie:after {
  background-image: url(../img/selfie-sticks.svg);
  background-size: 87px 117px;
  background-position: bottom;
}

.popular__item--action:after {
  background-image: url(../img/action-cameras.svg);
  background-size: 72px 88px;
  background-position: center;
}

.popular__item--fitness:after {
  background-image: url(../img/fitness-watch.svg);
  background-size: 108px 66px;
  background-position: center;
}

.popular__item--smart:after {
  background-image: url(../img/smart-watch.svg);
  background-size: 57px 98px;
  background-position: center;
}

.popular__item--drone:after {
  background-image: url(../img/drone.svg);
  background-size: 133px 70px;
  background-position: center;
}

.popular__item:hover:before {
  background-color: rgba(240, 197, 46, 1);
}

.popular__item:active:before {
  background-color: rgba(240, 197, 46, 1);
}

.popular__item:active:after {
  opacity: 0.3;
}

.popular__caption {
  font-size: 18px;
  line-height: 24px;
  padding-top: 193px;
  display: block;
  width: 160px;
  position: relative;
  z-index: 30;
}

.services {
  position: relative;
  margin: 24px 0 77px;
  background-color: #E5E5E5;
  padding-bottom: 69px;
  -webkit-box-shadow: inset 0px 100px white;
          box-shadow: inset 0px 100px white;
}

.services .inner {
  position: relative;
  z-index: 10;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.services input[type=radio] {
  display: none;
}

.services__names {
  width: 24.5%;
  border-right: 7px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 11px;
  overflow: hidden;
}

.services__inner {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.services__items {
  width: 300%;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.services__item {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 876px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__title {
  font-size: 47px;
  line-height: 48px;
  margin: 46px 0 32px;
}

.services__caption {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.services__content {
  background-repeat: no-repeat;
  background-position: 91% 55%;
  padding: 27px 300px 61px 117px;
}

.services__item--delivery .services__content {
  background-image: url(../img/delivery.svg);
}

.services__item--warranty .services__content {
  background-image: url(../img/warranty.svg);
}

.services__item--loan .services__content {
  background-image: url(../img/loan.svg);
}

.services__name {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  padding: 0;
  text-align: center;
  margin: 20px 0;
}

.services__name:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 300px;
  height: 40px;
  background-color: #000000;
  content: "";
  z-index: 20;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0;
}

#services-1:checked~.services__names .services__name[for="services-1"],
#services-2:checked~.services__names .services__name[for="services-2"],
#services-3:checked~.services__names .services__name[for="services-3"] {
  color: #f7e184;
}

#services-1:checked~.services__names .services__name[for="services-1"]:after,
#services-2:checked~.services__names .services__name[for="services-2"]:after,
#services-3:checked~.services__names .services__name[for="services-3"]:after {
  opacity: 1;
}

#services-1:checked~.services__inner .services__items {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

#services-2:checked~.services__inner .services__items {
  -webkit-transform: translate(-876px);
      -ms-transform: translate(-876px);
          transform: translate(-876px);
}

#services-3:checked~.services__inner .services__items {
  -webkit-transform: translate(-1752px);
      -ms-transform: translate(-1752px);
          transform: translate(-1752px);
}

.logos {
  padding: 17px 0 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logos__link {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: 100px;
}

.logos__active {
  display: none;
}

.logos__link:hover .logos__active {
  display: block;
}

.logos__link:hover, .logo:active{
  opacity: 1;
}

.logos__link:hover .logos__idle {
  display: none;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 43px 0 91px;
}

.description {
  width: 48.5%;
}

.description__header {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  margin: 20px 0 42px;
  padding-top: 53px;
  position: relative;
  padding-right: 88px;
}

.description__header::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
}

.description__content {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  margin: 31px 0;
  padding-right: 88px;
}

.description:last-child .description__content {
  padding-right: 30px;
}

.description__list {
  font-size: 16px;
  line-height: 40px;
  list-style-type: none;
  margin: 65px 0 62px;
  padding: 0;
}

.description__item {
  padding-left: 35px;
  position: relative;
}

.description__item:before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
  content: "";
}

.description__link {
  max-width: 260px;
  display: block;
  padding: 0;
  text-align: center;
}

.description__map {
  max-height: 222px;
  overflow: hidden;
  margin: 39px 0 77px;
  position: relative;
}

.footer {
  background-color: #464646;
  color: white;
  margin: 0;
}

.footer a {
  color: white;
}

.footer__logo h2 {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #FFC600;
  margin: 0;
}

.footer__logo:hover h2 {
  color: rgba(255, 198, 0, 0.6);
}

.footer__logo:active h2 {
  color: rgba(255, 198, 0, 0.3);
}

.footer__products {
  padding: 60px 0 22px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start
}

.footer__navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__navigation-item a {
  color: rgba(255, 255, 255, 0.7);
}

.footer__navigation-item a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer__navigation-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer__navigation-item a{
  position: relative;
  padding-left: 23px;
  margin-left: 42px;
  display: block;
}

.footer__navigation-item--logout a{
  padding-left: 0;
  margin-left: 21px
}

.footer__navigation-item a:before{
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
}

.footer__navigation-item--login a:before,
.footer__navigation-item--account a:before {
  background-image: url(../img/user--yellow.svg);
  width: 13px;
  height: 12px;
  left: -1px;
}

.footer__navigation-item--compare a:before {
  background-image: url(../img/compare--yellow.svg);
  width: 10px;
  height: 10px;
  left: 3px;
}

.footer__navigation-item--cart a:before {
  background-image: url(../img/cart--yellow.svg);
  width: 12px;
  height: 12px;
}

.footer__address,
.footer__tel {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.footer__services {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 37px;
  margin-top: 7px;
}

.footer__services-item {
  padding: 0 17px;
}

.footer__services-item a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer__services-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer__links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 63px 0 67px;
}

.footer__links:before {
  position: absolute;
  left: 0;
  top: 49%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80px;
  height: 7px;
  background-color: #FFC600;
  content: "";
}

.footer__socials {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social {
  padding: 0 11px;
}

.footer__social a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.footer__social a:hover {
  opacity: 0.6;
}

.footer__social a:active {
  opacity: 0.1;
}

.footer__social--fb a {
  background-image: url(../img/logo_fb.svg);
}

.footer__social--insta a {
  background-image: url(../img/logo_insta.svg);
}

.footer__social--tw a {
  background-image: url(../img/logo_tw.svg);
}

.footer__creator {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__creator:hover {
  opacity: 0.6;
}

.footer__creator:active {
  opacity: 0.3;
}

.feedback {
  padding: 94px 100px 86px;
}

.feedback__label {
  width: 100%;
  display: block;
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 24px;
}

.feedback__top .feedback__label {
  width: 47.5%;
}

.feedback__input {
  background-color: rgba(229, 229, 229, 0.5);
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  border: 0;
  color: rgba(70, 70, 70, 0.4);
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 7px 20px 11px;
}

.feedback__input:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.feedback__input:focus {
  background-color: white;
  -webkit-box-shadow: 0 0 0 3px rgba(240, 197, 46, 0.5);
          box-shadow: 0 0 0 3px rgba(240, 197, 46, 0.5);
  outline: none;
  color: rgba(70, 70, 70, 1);
}

.feedback__input:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  color: rgba(70, 70, 70, 0.4);
}

textarea.feedback__input {
  resize: none;
  height: 156px;
}

.feedback__link {
  border: 0;
  margin-top: 14px;
  width: 200px;
  font-weight: 800;
  text-align: center;
  padding: 0 34px;
}

.close {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  cursor: pointer;
  border: 0;
  position: absolute;
  right: 22px;
  top: 22px;
}

.close:hover {
  opacity: 1;
}

.close:active {
  opacity: 0.3;
}

.page-title {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.65px;
  padding: 17px 60px 10px;
  margin: 20px 0 0;
}

.breadcrumbs {
  padding: 14px 60px;
}

.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.breadcrumbs__list a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__list a:focus {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs__item {
  padding-right: 20px;
  margin-right: 17px;
  position: relative;
}

.breadcrumbs__item:after {
  position: absolute;
  right: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  width: 5px;
  height: 5px;
  -webkit-box-shadow: 1px 1px 0 0 black;
          box-shadow: 1px 1px 0 0 black;
  content: "";
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.products {
  margin: 32px 0 0;
  display: flex;
}

.products .inner{
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
}

.products:before {
  flex-grow: 1;
  background-color: #DBDBDB;
  height: 70px;
  content: "";
  z-index: 20;
}

.products:after {
  flex-grow: 1;
  background-color: #EBEBEB;
  height: 70px;
  content: "";
}

.products__bottom .inner {
  width: 100%;
}

.filters__title,
.sorting__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
}

.filters {
  background-color: #EFEFEF;
  width: 28.2%;
  position: relative;
}

.filters:before {
  flex-grow: 1;
  background-color: #EFEFEF;
  height: 100%;
  position: absolute;
  right: 100%;
  width: 9999px;
  top: 0;
  content: "";
}

.filters__title {
  padding: 5px 60px 5px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  position: relative;
  background-color: #DBDBDB;
}

.filters__form {
  margin: 0;
  padding: 34px 67px 44px 60px;
}

.filters fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.results {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.catalog__caption {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  position: relative;
  padding-top: 12px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  margin-bottom: 14px;
}

.catalog__caption:before {
  height: 2px;
  background-color: black;
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.catalog__label {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 0.14px;
  display: block;
  position: relative;
}

.range {
  padding: 21px 0 10px;
}

.range__line {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 2px;
  background-color: #DBDBDB;
}

.range__line:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 2px;
  width: 53%;
  background-color: #91C92F;
  content: "";
}

.range__button {
  position: absolute;
  left: -6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 20px;
  height: 22px;
  background-image: url(../img/range_btn.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: grab;
}

.range__button--max {
  left: 53%;
}

.range__button:active {
  background-image: url(../img/range_btn-active.svg);
}

.range__label {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.20);
  position: absolute;
  top: calc(100% - 1px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 0;
  width: 100px;
  text-align: center;
}

.range__button--min .range__label{
  left: 92%;
}

.checkbox__input {
  z-index: 50;
  display: none;
}

.checkbox__name:before {
  position: absolute;
  z-index: 50;
  top: 12px;
  left: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  content: "";
}

.checkbox__name {
  padding-left: 38px;
  padding-top: 5px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}

.checkbox__input:checked~.checkbox__name::before {
  background-image: url("../img/tick.svg");
  width: 27px;
}

.radio__input {
  z-index: 50;
  display: none;
}

.radio__name:before {
  position: absolute;
  z-index: 50;
  top: 11px;
  left: -2px;
  width: 25px;
  height: 25px;
  border: 4px solid black;
  border-radius: 50%;
  display: block;
  content: "";
}

.radio__name:after {
  position: absolute;
  top: 19px;
  left: 6px;
  width: 9px;
  height: 9px;
  background-color: black;
  border-radius: 50%;
  content: "";
  opacity: 0;
}

.radio__name {
  padding-left: 38px;
  padding-top: 5px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}

.radio__input:checked~.radio__name:after {
  opacity: 1;
}

.filters__button {
  margin-top: 43px;
  max-width: 200px;
  padding: 0 39px;
  letter-spacing: 4px;
}

.sorting {
  padding: 5px 0 5px 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  background-color: #EBEBEB;
}

.sorting__items,
.sorting__direction {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting__items {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 52px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sorting__item {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 32px;
}

.sorting__item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__item:active,
.sorting__item.active {
  color: rgba(0, 0, 0, 1);
}

.sorting__arrow {
  width: 11px;
  height: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  margin-left: 19px;
}

.sorting__arrow--up {
  background-image: url(../img/arrow-up.svg);
}

.sorting__arrow--down {
  background-image: url(../img/arrow-down.svg);
}

.sorting__arrow:hover {
  opacity: 0.4;
}

.sorting__arrow:active,
.sorting__arrow.active {
  opacity: 1;
}

.results {
  max-width: 71.8%;
  padding-bottom: 78px;
}

.results__product {
  width: 47.5%;
  margin-bottom: 35px;
  position: relative;
}

.results__product:nth-last-child(-n+2) {
  margin-bottom: 22px;
}

.results__products {
  padding: 68px 0 0 73px;
  background-color: white;
  max-width: 835px;
}

.results__product img {
  width: 360px;
  height: 380px;
}

.results__products-about {
  margin: 28px 0 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.results__products-name {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  display: inline-block;
  vertical-align: top;
  padding-right: 28px;
}

.results__products-price {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.results__products-overlay {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 380px;
  width: 100%;
  background-color: rgba(238,238,238, 0.7);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.results__product:hover .results__products-overlay{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results__products-compare {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  padding-top: 23px;
}

.results__products-cart {
  margin-top: 45px;
}

.results__products-cart .link{
  padding: 0 37px;
}

.results__products-compare a {
  color: rgba(0, 0, 0, 0.5)
}

.results__products-compare a:hover {
  color: rgba(0, 0, 0, 1)
}

.results__products-compare a:active {
  color: rgba(0, 0, 0, 0.2)
}

.results__products-label {
  font-size: 14px;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  right: 27px;
  top: 29px;
}

.pagination {
  background-color: rgba(0, 0, 0, 0.08);
  margin-left: 73px;
  min-height: 70px;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.pagination__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 12px;  
  padding: 25px 29px 21px;
}

.pagination__btn {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  padding: 25px 29px 21px;
  display: inline-block;
  vertical-align: top;
}

.pagination__btn:hover {
  background-color: rgba(0, 0, 0, 0.16);
}

.pagination__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__page {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.91px;
  padding: 0px 9px;
  margin: 0 6px;
}

.pagination__page a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__page a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__page a:active,
.pagination__page.active a {
  color: rgba(0, 0, 0, 1);
}

.modal {
  width: 960px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 200;
  background-color: white;
  -webkit-box-shadow: 0 0 20px 0 rgba(4, 6, 6, 0.2);
          box-shadow: 0 0 20px 0 rgba(4, 6, 6, 0.2);
  display: none;
}

.modal.active {
  display: block;
}

.modal--map {
  top: 1852px;
}

.modal--map img {
  display: block;
}

.modal--feedback {
  top: 1056px;
}